body { 
  color:#444; 
  /* Short-hand for font-size/line-height */
  font:100%/1.2 'Roboto';  
  font-family: 'Roboto', sans-serif;
}

.rad, 
.ckb {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.rad > input,
.ckb > input{ /* HIDE ORG RADIO & CHECKBOX */
  visibility: hidden;
  position: absolute;
}

/* css selector > : selects immediate children */
.rad > i,
.ckb > i {     /* DEFAULT <i> STYLE */
  display: inline-block;
  vertical-align: top;
  width:  16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.2s;
  /* box shadox : inset -> vers l'intérieur, offset-x, offset-y, blur-radius (flou de l'ombre), spread-radius (longueur), color  */
  box-shadow: inset 0 0 0 8px #fff;
  border: 1px solid gray;
  background: gray;
}

/* RADIO BUTTON */
.rad:hover > i {
  box-shadow: inset 0 0 0 3px #fff;
  background: gray;
}

/* css selector + : all elements that are placed immediately after */
.rad > input:checked + i {
  box-shadow: inset 0 0 0 3px #fff;
  background: orange;
}

/* CHECKBOX */
.ckb > i {
    border-radius: 3px;
    width: 25px;
}

.ckb > input + i:after{
  content: "";
  display: block;
  height: 12px;
  width:  12px;
  margin: 2px;
  border-radius: inherit;
  transition: inherit;
  background: gray;
}

.ckb > input:checked + i:after{
  margin-left: 11px;
  background: orange;
}

/* CHECKBOX WITH IMAGE */

.img-panel > label > input { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.img-panel > label > input + img {
  cursor:pointer;
  border:2px solid transparent;
}

.img-panel > label > input:checked + img {
  border:2px solid #64b5f6;
}

/* https://www.creativejuiz.fr/blog/tutoriels/personnaliser-aspect-boutons-radio-checkbox-css */

.juiz [type="checkbox"]:not(:checked),
.juiz [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.juiz [type="checkbox"]:not(:checked) + label,
.juiz [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.juiz [type="checkbox"]:not(:checked) + label:before,
.juiz [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}

.juiz [type="checkbox"]:not(:checked) + label:after,
.juiz [type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0; left: 4px;
  line-height: 1.75;
  font-size: 14px;
  color: #09ad7e;
  transition: all .2s; /* on prévoit une animation */
}

.juiz [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.juiz [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* aspect désactivée */
.juiz [type="checkbox"]:disabled:not(:checked) + label:before,
.juiz [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
/* styles de la coche (si cochée/désactivée) */
.juiz [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
/* on style aussi le label quand désactivé */
.juiz [type="checkbox"]:disabled + label {
  color: #aaa;
}